menu#menu
  div
    ul
      li.hi-trigger.ma-trigger.visible-btn-block(data-ma-action='sidebar-open', data-ma-target='#sidebar')
        .line-wrap
          .line.top
          .line.center
          .line.bottom
