#login.intro-card
  .row.logo
    .col-xs-12.text-center
      img.img-responsive(src='img/logo.png')
  .clear-s
  .row
    .col-xs-12.text-center
      h5 Para recuperar tu contraseña ingresa el e-mail con el cual te registraste.
  .clear-m
  .row
    .col-xs-12.text-center
      .input-group
        span.input-group-addon
          i.zmdi.zmdi-email
        input.form-control(type='text', placeholder='E-mail')
  .clear-m
  .row
    .col-xs-12.text-center
      button.btn.btn-bold.btn-long(type='button') Enviar
  .clear-m.divider
  .row
    .col-xs-12.text-left
      a(ng-click="go('signin')")
        i.zmdi.zmdi-arrow-left
        |  Volver atras
